In [2]:
import pandas as pd

In [3]:
people_dict = {
    'id': ['1001', '1002', '1003'],
    'first_name': ['Alice', 'Bartholomew', 'Claire'],
    'last_name': ['Zane', 'Yeoman', 'Xavier'],
    'email_address': ['a_zane@email.com', 'b_yeoman@email.com', 'c_xavier@email.com']
    }

people_df = pd.DataFrame(people_dict)
people_df

     id   first_name last_name       email_address
0  1001        Alice      Zane    a_zane@email.com
1  1002  Bartholomew    Yeoman  b_yeoman@email.com
2  1003       Claire    Xavier  c_xavier@email.com

In [23]:
name_filter_0 = (people_df['last_name'] == 'Zane')

In [24]:
people_df[name_filter_0]

     id first_name last_name     email_address
0  1001      Alice      Zane  a_zane@email.com

In [25]:
people_df.loc[name_filter_0, ['email_address']]

      email_address
0  a_zane@email.com

In [26]:
name_filter_1 = (people_df['last_name'] == 'Xavier') & (people_df['first_name'] == 'Claire')
people_df.loc[name_filter_1, ['email_address']]

        email_address
2  c_xavier@email.com

In [27]:
name_filter_2 = (people_df['last_name'] == 'Xavier') & (people_df['first_name'] == 'Carl')
people_df.loc[name_filter_2, ['email_address']]

Empty DataFrame
Columns: [email_address]
Index: []

In [28]:
name_filter_3 = (people_df['first_name'] == 'Bartholomew') | (people_df['first_name'] == 'Alice') | (people_df['first_name'] == 'John')
people_df.loc[name_filter_3, ['first_name', 'email_address']]

    first_name       email_address
0        Alice    a_zane@email.com
1  Bartholomew  b_yeoman@email.com

In [34]:
name_filter_4 = (people_df['last_name'] == 'Yeoman')
people_df.loc[name_filter_4]

     id   first_name last_name       email_address
1  1002  Bartholomew    Yeoman  b_yeoman@email.com

In [36]:
name_filter_4 = (people_df['last_name'] == 'Yeoman')
people_df.loc[~name_filter_4]

     id first_name last_name       email_address
0  1001      Alice      Zane    a_zane@email.com
2  1003     Claire    Xavier  c_xavier@email.com