In [1]:
import pandas as pd

In [4]:
people_dict = {
    'id': ['1001', '1002', '1003'],
    'first_name': ['Alice', 'Bartholomew', 'Claire'],
    'last_name': ['Zane', 'Yeoman', 'Xavier'],
    'email_address': ['a_zane@email.com', 'b_yeoman@email.com', 'c_xavier@email.com']
    }

people_df = pd.DataFrame(people_dict)
people_df

     id   first_name last_name       email_address
0  1001        Alice      Zane    a_zane@email.com
1  1002  Bartholomew    Yeoman  b_yeoman@email.com
2  1003       Claire    Xavier  c_xavier@email.com

In [6]:
last_name_filter = (people_df['last_name'] == 'Zane')

In [7]:
people_df[last_name_filter]

     id first_name last_name     email_address
0  1001      Alice      Zane  a_zane@email.com